/*
* @Author: Lenovo
* @Date:   2018-12-14 12:41:11
* @Last Modified by:   Lenovo
* @Last Modified time: 2018-12-18 19:18:59
*/
/* ==========公用css========== */
body {
	font-family: "Microsoft YaHei","sans-serif";
	font-size: 14px;
	color: #333;
}
a {
	text-decoration: none;
	color: #333;
}
.m_r10{
    margin-right: 10px;
}
.m_t10{
    margin-top: 10px;
}
.m_l10{
    margin-left: 10px;
}
.m_b10{
     margin-bottom: 10px;
 }

/* ==========自定义字体========== */
@font-face {
	font-family: wjs;
	src:
	url(../fonts/MiFie-Web-Font.eot) format("embedded-opentype"),
	url(../fonts/MiFie-Web-Font.svg) format("svg"),
	url(../fonts/MiFie-Web-Font.ttf) format("truetype"),
	url(../fonts/MiFie-Web-Font.woff) format("woff");
}

.wjs_icon {
	font-family: wjs;
}

/* 通过伪类定义字体图标 */
.wjs_icon_phone::before {
	content: "\e908";
}
.wjs_icon_tel::before {
	content: "\e909";
}
.wjs_icon_logo::before{
    content: "\e920";
}
.wjs_icon_word::before{
    content: "\e93e";
}
.wjs_icon_E903::before{
    content: "\e903";
}
.wjs_icon_E906::before{
    content: "\e906";
}
.wjs_icon_E905::before{
    content: "\e905";
}
.wjs_icon_E907::before{
    content: "\e907";
}
.wjs_icon_E901::before{
    content: "\e901";
}
.wjs_icon_E900::before{
    content: "\e900";
}
.wjs_icon_E904::before{
    content: "\e904";
}
.wjs_icon_E902::before{
    content: "\e902";
}
.wjs_icon_E906::before{
    content: "\e906";
}
.wjs_icon_new01::before{
    content: "\e90e";
}
.wjs_icon_new02::before{
    content: "\e90f";
}
.wjs_icon_new03::before{
    content: "\e910";
}
.wjs_icon_new04::before{
    content: "\e911";
}
.wjs_icon_partner01::before{
    content:"\e946";
}
.wjs_icon_partner02::before{
    content: "\e92f";
}
.wjs_icon_partner03::before{
    content: "\e92e";
}
.wjs_icon_partner04::before{
    content: "\e92a";
}
.wjs_icon_partner05::before{
    content: "\e929";
}
.wjs_icon_partner06::before{
    content: "\e931";
}
.wjs_icon_partner07::before{
    content: "\e92c";
}
.wjs_icon_partner08::before{
    content: "\e92b";
}
.wjs_icon_partner09::before{
    content: "\e92d";
}


/* ==========页面css========== */
/* 顶部通栏 */
.wjs_header {
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	color: #666;
}
.wjs_header > .container > .row > div {
	height: 40px;
	line-height: 40px;
	text-align: center;	
}
.wjs_header > .container > .row > div + div {
	border-left: 1px solid #ccc;
}
.wjs_header .wjs_app {
	position: relative;
}
.wjs_header .wjs_app > img {
	display: none;
}
.wjs_header .wjs_app:hover img {
	display: block;
	position: absolute;
	top: 28px;
	left: -17px;
	border: 1px solid #ccc;
    border-top: none;
}
.wjs_header .btn-danger {
	background: #E92322;
	color: #fff;
	padding: 3px 15px;
}

/* 导航栏(重写bootstrap默认css) */
.wjs_navbar {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ccc;

}

.wjs_navbar .navbar-brand {
  color: #777;
  height: 80px;
  line-height: 50px;
}
.wjs_navbar .navbar-brand:hover,
.wjs_navbar .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.wjs_navbar .navbar-brand .wjs_icon_logo {
	font-size: 50px;
	color: #E92322;
	vertical-align: middle;
}
.wjs_navbar .navbar-brand .wjs_icon_word {
	font-size: 36px;
	color: #333;
	vertical-align: middle;
}
.wjs_navbar .navbar-text {
  color: #777;
}
.wjs_navbar .navbar-nav > li > a {
  height: 80px;
  line-height: 50px;
  color: #777;
}
.wjs_navbar .navbar-nav > li > a:hover,
.wjs_navbar .navbar-nav > li > a:focus {
  background-color: #fff;
  border-bottom: 3px solid #E92322;
}
.wjs_navbar .navbar-nav > .active > a,
.wjs_navbar .navbar-nav > .active > a:hover,
.wjs_navbar .navbar-nav > .active > a:focus {
  background-color: #fff;
  border-bottom: 3px solid #E92322;
}
.wjs_navbar .navbar-nav > .disabled > a,
.wjs_navbar .navbar-nav > .disabled > a:hover,
.wjs_navbar .navbar-nav > .disabled > a:focus {
  background-color: #777;
  border-bottom: none;
}
.wjs_navbar .navbar-toggle {
  border-color: #ddd;
  margin-top: 23px;
  margin-bottom: 23px;
}
.wjs_navbar .navbar-toggle:hover,
.wjs_navbar .navbar-toggle:focus {
  background-color: #ddd;
}
.wjs_navbar .navbar-toggle .icon-bar {
  background-color: #888;
}
.wjs_navbar .navbar-collapse,
.wjs_navbar .navbar-form {
  border-color: #e7e7e7;
}
.wjs_navbar .navbar-nav > .open > a,
.wjs_navbar .navbar-nav > .open > a:hover,
.wjs_navbar .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .wjs_navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .wjs_navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .wjs_navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .wjs_navbar .navbar-nav .open .dropdown-menu > .active > a,
  .wjs_navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .wjs_navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .wjs_navbar .navbar-nav .open .dropdown-menu > .disabled > a,
  .wjs_navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .wjs_navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.wjs_navbar .navbar-link {
  color: #777;
}
.wjs_navbar .navbar-link:hover {
  color: #333;
}
.wjs_navbar .btn-link {
  color: #777;
}
.wjs_navbar .btn-link:hover,
.wjs_navbar .btn-link:focus {
  color: #333;
}
.wjs_navbar .btn-link[disabled]:hover,
fieldset[disabled] .wjs_navbar .btn-link:hover,
.wjs_navbar .btn-link[disabled]:focus,
fieldset[disabled] .wjs_navbar .btn-link:focus {
  color: #ccc;
}

/* 轮播图 */






