/* global */
* {
    margin: 0;
    padding: 0;
}

body {
  height: 100%;
  position: relative;
  font: 18px/1.5 'Helvetica Neue',Helvetica,Arial,sans-serif;
  background: #f2f2f2;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

/* header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
}

.header-logo {
  float: left;
}

.logo-img,
.logo-resume {
  float: left;
}

.logo-img img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 10px 50px;
  transition: all 0.5s;
}

.logo-img img:hover {
  box-shadow: 0 0 30px #0000ff;
}

.logo-resume {
  text-align: center;
  color: #000;
  margin-top: 7px;
  margin-left: -5px;
}

.logo-resume .resume-p1 {
  border-bottom: 2px solid #333;
  width: 120px;
  padding-bottom: 5px;
}

.logo-resume .resume-p2 {
  margin-top: -2px;
}

header nav {
  float: right;
  margin-right: 50px;
}

header ul li {
  float: left;
  text-align: center;
  line-height: 80px;
  padding: 0 30px;
}

header ul a {
  position: relative;
  color: #000;
}

header ul a:after {
  content: "";
  width: 0px;
  height: 3px;
  background-color: #16a5d4;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.2s ease-in
}

header ul a:hover {
  text-decoration:none;
  color: #107bb3;
}

header ul a:hover:after {
  bottom: -30px;
  width: 40px;
  opacity: 1;
}


/* 第一屏 */
.first {
  background: url(../images/bg1.jpg) 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  position: relative;
}
.first .first-cover {
  height: 100%;
  width: 100%;
  background-color: rgba(222,222,222,0.5);
}
.first .first-content {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.first .content-img img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin-top: 11%;
  opacity: 1;
}
.first .content-info {
  margin-top: 30px;
}
.first .content-info .content-info1 {
  font-size: 25px;
  font-weight: bold;
  font-family: "KaiTi";
  color: #000;
}
.first .content-info-line {
  display: inline-block;
  width: 40%;
  height: 2px;
  background-color: #16a5d4;
  margin-bottom: 17px;
}
.first .info-box {
  margin-top: 20px;
}

/*第一屏媒体查询*/
@media screen and (max-width: 768px) {
  .first .content-img img {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin-top: 37%;
    opacity: 1;
  }
}

/* 第二屏 */
.second {
  background: url(../images/bg.png) #107bb3;
}
.second .second-content {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.second .second-content .content-title {
  margin-top: 150px;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 80px;
}
.second .content-about {

}
.second .content-about ul {
  display: inline-block;
  max-width: 800px;
}
.second .content-about ul li {
  float: left;
  width: 100px;
  margin: 0 40px;
}
.second .content-about .about-img {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  background-color: rgba(255,255,255,.1);
  transition: all 0.5s;
}
.second .content-about .about-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.second .content-about li p {
  font-size: 22px;
  margin-top: 20px;
}
.second .content-info {
  margin-top: 60px;
  font-size: 20px;
}

/* 第二屏 媒体查询 */
@media screen and (max-width: 768px) {
  .second .second-content .content-title {
    margin-top: 100px;
    font-size: 25px;
    margin-bottom: 20px;
  }
  .second .content-about .about-img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
  .second .content-about .about-img img {
    width: 40px;
    height: 40px;
  }
  .second .content-about li p {
    font-size: 18px;
    margin-top: 10px;
  }
  .second .content-info {
    margin-top: 20px;
    font-size: 17px;
  }
}
@media screen and (max-width: 360px) {
  .second .content-about ul li {
    margin: 0 9%;
  }
}

/*第二屏动画*/
.second .content-about .about-img:hover {
  background-color: rgba(255,255,255,.5);
  transform: scale(1.2);
}

/*第三屏*/
.third {
  background: url(../images/bg.png) #DEDEDE;
}
.third .third-content {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.third .third-content .content-title {
  margin-top: 150px;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 80px;
}
.third .third-content .content-skill {
  height: 400px;
  width: 50%;
  float: left;
  position: relative;
}
.third .content-skill .skill-in {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px dashed #0000ff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
}
.third .content-skill .skill-in li {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  line-height: 70px;
  position: absolute;
  top: 65px;
  left: 65px;
}
.third .content-skill .skill-in li:nth-child(1) {
  animation: html 10s linear infinite;
  background-color: rgba(100,100,0,0.5);
}
.third .content-skill .skill-in li:nth-child(2) {
  animation: css 10s linear infinite;
  background-color: rgba(140,10,85,0.5);
}
.third .content-skill .skill-in li:nth-child(3) {
  animation: js 10s linear infinite;
  background-color: rgba(20,40,100,0.5);
}
.third .content-skill .skill-out {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 2px solid #7f4a82;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
}
.third .content-skill .skill-out li {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  line-height: 80px;
  position: absolute;
  top: 160px;
  left: 160px;
}
.third .content-skill .skill-out li:nth-child(1){
  animation: jq 15s linear infinite;
  background-color: rgba(255,0,0,0.5);
}
.third .content-skill .skill-out li:nth-child(2){
  animation: ajax 15s linear infinite;
  background-color: rgba(255,150,0,0.5);
}
.third .content-skill .skill-out li:nth-child(3){
  animation: json 15s linear infinite;
  background-color: rgba(255,255,0,0.5);
}
.third .content-skill .skill-out li:nth-child(4){
  animation: ps 15s linear infinite;
  background-color: rgba(0,255,0,0.5);
}
.third .content-skill .skill-out li:nth-child(5){
  animation: h5 15s linear infinite;
  background-color: rgba(0,255,255,0.5);
}
.third .content-skill .skill-out li:nth-child(6){
  animation: c3 15s linear infinite;
  background-color: rgba(0,0,255,0.5);
}
.third .content-skill .skill-out li:nth-child(7){
  animation: vue 15s linear infinite;
  background-color: rgba(255,0,255,0.5);
}

.third .third-content .content-info {
  float: left;
  font-size: 23px;
  width: 50%;
  margin-top: 35px;
}
.third .third-content .content-info p {
  text-align: left;
}


/*第三屏动画*/
@keyframes html {
  from {
    transform: rotate(0deg) translateY(100px) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translateY(100px) rotate(360deg);
  }
}
@keyframes css {
  from {
    transform: rotate(0deg) translate(86px,-50px) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translate(86px,-50px) rotate(360deg);
  }
}
@keyframes js {
  from {
    transform: rotate(0deg) translate(-86px,-50px) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translate(-86px,-50px) rotate(360deg);
  }
}
@keyframes jq {
  from {
    transform: rotate(0deg) translate(200px,0) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(200px,0) rotate(-360deg);
  }
}
@keyframes ajax {
  from {
    transform: rotate(0deg) translate(116px,158px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(116px,158px) rotate(-360deg);
  }
}
@keyframes json {
  from {
    transform: rotate(0deg) translate(-53px,188px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-53px,188px) rotate(-360deg);
  }
}
@keyframes ps {
  from {
    transform: rotate(0deg) translate(-182px,82px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-182px,82px) rotate(-360deg);
  }
}
@keyframes h5 {
  from {
    transform: rotate(0deg) translate(-176px,-99px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-176px,-99px) rotate(-360deg);
  }
}
@keyframes c3 {
  from {
    transform: rotate(0deg) translate(-30px,-198px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-30px,-198px) rotate(-360deg);
  }
}
@keyframes vue {
  from {
    transform: rotate(0deg) translate(131px,-151px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(131px,-151px) rotate(-360deg);
  }
}

/* 第三屏媒体查询 */
@media screen and (max-width: 768px) {
  .third .third-content .content-title {
    margin-top: 100px;
    font-size: 25px;
    margin-bottom: 20px;
  }
  .third .third-content .content-skill
  {
    transform: scale(0.5);
    width: 100%;
    float: none;
    margin-top: -85px;
  }
  .third .content-skill .skill-in,
  .third .content-skill .skill-out {
    transform: translate(-50%, -50%);
  }
  .third .third-content .content-info {
    float: none;
    font-size: 13px;
    width: 100%;
    margin-top: -65px;
  }
  .third .third-content .content-info p {
    text-align: center;
  }
}



/*第四屏*/
.fourth {
  background: url(../images/bg.png) #109085;
}
.fourth .fourth-content {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-52%);
  text-align: center;
}
.fourth .fourth-content .content-title {
  margin-top: 150px;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 80px;
}
.fourth .fourth-content .content-product {
  width: 1000px;
  height: 320px;
  margin: 0 auto;
  background-image: url(../images/exp_list_bg.jpg);
  border-radius: 30px;
  text-align: left;
  position: relative;
}
.fourth-content .content-product h4 {
  font-size: 20px;
  color: #109085;
  font-weight: bold;
  padding: 30px 0 10px 115px;
}
.fourth-content .content-product p {
  font-size: 18px;
  color: #107bb3;
  padding: 0px 0 10px 60px;
}
.fourth-content .content-product ul {
  font-size: 14px;
  color: #000;
  padding: 0px 0 10px 60px;
}
.fourth-content .content-product li {
  margin-top: 10px;
}
.fourth-content .content-product .product {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  /*transform: translateZ(0)*/
}
.fourth-content .content-product .product.current {
  opacity: 1;
  /*transform: translateZ(0)*/
  z-index: 10
}
.fourth-content .content-product .content-prev,
.fourth-content .content-product .content-next {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 11;
}
.fourth-content .content-product .content-prev {
  background-image: url(../images/exp_list_toleft.png);
  left: 0px;
}
.fourth-content .content-product .content-next {
  background-image: url(../images/exp_list_toright.png);
  right: 330px;
}
.fourth-content .content-product a {
  display: flex;
  width: 200px;
  height: 30px;
  position: absolute;
  left: 50px;
  bottom: 25px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  transition: all 0.5s;
}
.fourth-content .content-product a img {
  width: 50px;
  margin: 0 auto;
}
.fourth-content .content-product .product a:hover {
  background-color: #aaaaaa;
}

/*第四屏媒体查询*/
@media screen and (max-width: 768px) {
  .fourth .fourth-content .content-title {
    margin-top: 100px;
    font-size: 25px;
    margin-bottom: 20px;
  }
  .fourth-content .content-product {
    /*transform: scale(0.5);*/
  }
  .fourth .fourth-content .content-product {
    width: 100%;
    height: 50%;
  }
  .fourth-content .content-product .content-prev,
  .fourth-content .content-product .content-next {
    top: 100%;
    transform: none;
  }
  .fourth-content .content-product .content-next {
    right: 0;
  }
  .fourth-content .content-product h4 {
    padding: 30px 0 10px 0px;
    text-align: center;
  }
  .fourth-content .content-product p,
  .fourth-content .content-product ul {
    padding: 0px 0 10px 15px;
  }
  .fourth-content .content-product a {
    width: 17%;
    height: 30px;
    left: 13px;
    top: 35px;
  }
}
@media screen and (max-width: 360px) {
  .fourth-content .content-product p,
  .fourth-content .content-product ul {
    font-size: 13px;
  }
}

/*第五屏*/
.fifth {
  background: url(../images/bg.png) #107bb3;
}
.fifth .fifth-content {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-52%);
  text-align: center;
}
.fifth .fifth-content .content-title {
  margin-top: 150px;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 80px;
}
.fifth .fifth-content .content-info {
  width: 500px;
  margin: 0 auto;
  position: relative;

}
.fifth .fifth-content .content-info ul {
  width: 500px;
  height: 80px;
  margin: 0 auto;
}
.fifth .fifth-content .content-info li {
  float: left;
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0px 0px 50px;
}
.fifth .fifth-content .content-info li:nth-child(1) {
  color: red;
}
.fifth .fifth-content .content-info li:nth-child(2) {
  color: yellow;
}
.fifth .fifth-content .content-info li:nth-child(3) {
  color: purple;
}
.fifth .fifth-content .content-info li:nth-child(4) {
  color: blue;
}
.fifth .fifth-content .content-info p {
  margin-top: 10px;
  font-size: 20px;
}
.fifth .fifth-content .content-info p:nth-child(1) {
  margin-top: 50px;
}
.fifth .fifth-content .info-tel,
.fifth .fifth-content .info-email {
  margin-top: 20px;
  display: inline-block;
}
.fifth .fifth-content .info-email {
  padding-left: 30px;
}
.fifth .fifth-content .info-border1 {
  height: 80px;
  width: 140px;
  border-top: 5px solid pink;
  border-right: 5px solid pink;
  position: absolute;
  top: 0;
  right: 0;
}
.fifth .fifth-content .info-border2 {
  height: 30px;
  width: 500px;
  border-bottom: 5px solid pink;
  border-left: 5px solid pink;
  border-right: 5px solid pink;
  position: absolute;
  bottom: -35px;
  left: 0px;
}

/* 第五屏媒体查询 */
@media screen and (max-width: 768px) {
  .fifth .fifth-content .content-title {
    margin-top: 100px;
    font-size: 25px;
    margin-bottom: 20px;
  }
  .fifth .fifth-content .info-border1,
  .fifth .fifth-content .info-border2 {
    display: none;
  }
  .fifth .fifth-content .content-info,
  .fifth .fifth-content .content-info ul {
    width: 100%;
  }
  .fifth .fifth-content .content-info li {
    float: left;
    font-size: 25px;
    padding: 30px 0px 0px 35px;
  }
  .fifth .fifth-content .info-tel {
    margin-top: 40px;
    margin-left: -15px;
  }
  .fifth .fifth-content .info-email {
    padding-left: 0px;
  }
}

@media screen and (max-width: 360px) {
  .fifth .fifth-content .content-info li {
    padding: 30px 0px 0px 8%;
  }
  .fifth .fifth-content .content-info p {
    font-size: 15px;
  }
}










