/*
* @Author: Lenovo
* @Date:   2018-11-15 10:22:17
* @Last Modified by:   Lenovo
* @Last Modified time: 2018-11-22 13:30:34
*/
*,::before,::after {
	padding: 0;
	margin: 0;

	/*移动端特殊设置*/
	/*清除点击高亮效果*/
	-webkit-tap-highlight-color: transparent;
	/*设置盒子的宽度以边框开始计算*/
	-webkit-box-sizing: border-box;
	/*兼容*/
	box-sizing: border-box;
}
body {
	font-size: 14PX;
	color: #333;
	font-family: "MicroSoft YaHei","sans-serif";
}
ul,ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: #333;
}
a:hover {
	color: #333;
}
input,textarea {
	border: none;
	outline: none;
	resize: none;
	/*特殊属性定义，清除浏览器给input自带的样式*/
	-webkit-appearance: none;
}

/*common css 公用css*/
.f_left {
	float: left;
}
.f_right {
	float: right;
}
.clearfix::after,
.clearfix::before{
    content: ".";
    line-height: 0;
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.m_r10{
    margin-right: 10px;
}
.m_l10{
    margin-left: 10px;
}
.m_t10{
    margin-top: 10px;
}
.m_b10{
    margin-bottom: 10px;
}
.mainColor{
    color: #d8505c;
}

/* 匹配精灵图 */
[class^="icon_"]{
    background: url("../images/sprites.png") no-repeat;
    /*压缩背景图*/
    background-size: 200px 200px;
}

/* 顶部通栏 */
.jd_topBar {
	width: 100%;
	height: 45px;
	background: url(../images/header-bg.png) repeat-x;
	background-size: 1px 44px;
	border-bottom: 1px solid #e0e0e0;
	position: absolute;
}

.jd_topBar [class^="icon_"] {
	width: 40px;
	height: 44px;
	position: absolute;
	top: 0;
	/*显示小按钮，触发面积大*/
	padding: 12px 10px;
	background-clip: content-box;
	background-origin: content-box;
}

.jd_topBar .icon_back {
	left: 0;
	background-position: -20px 0;
}

.jd_topBar .icon_menu {
	right: 0;
	background-position: -60px 0;
}

.jd_topBar form {
	width: 100%;
	padding: 0 40px;
}

.jd_topBar form input {
	width: 100%;
	height: 30px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	margin-top: 7px;
	padding-left: 5px;
}

.jd_topBar h3 {
	text-align: center;
	line-height: 44px;
	font-weight: normal;
	font-size: 16px;
}

